body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightblue ;
}
.headerprinc {
    text-align: center;
    border:5px solid black;
    background-color:white;
}
.headerprinc a{
    padding:10px;
    text-decoration:none;

}

.headerprinc nav,a{
    padding:10px;
    text-decoration: none;
    color:rgb(15, 74, 109);
    font-weight: bold;

}
h2{
    text-align: center;
    padding:10px;
}

.form_acad{
    padding:20px;
}



.voluntariado{
    padding:20px;
}

nav, a{
    text-align: center;
}

footer{
    text-align:center;
}
.mestrado{
    background-color: cadetblue;
    
    

}
.m, .m1 {
    text-align: center;
}

.m{
    color:rgba(245, 245, 245, 0.815);
    padding:19px;
}

.det_remot {
    text-align: center;
    background-color: cadetblue;
    color:rgba(245, 245, 245, 0.815);
    padding: 10px;
}
.det_remot img{
    border:3px solid black;
    
}


.cart_sig{
    text-align:center;
    padding:10px;
    color:rgba(245, 245, 245, 0.815);
}

.cart_sig img{
    border:3px solid black;
}

.ana_espac{
    text-align:center;
    
    color:rgba(245, 245, 245, 0.815);
}

.ana_espac p{
    padding:10px;
}

.ana_espac iframe{
    border:3px black solid;

}

.cidades_sust{
    text-align: center;
    color:rgba(245, 245, 245, 0.815);
}

.cidades_sust p{
    padding:19px;
}

.cidades_sust iframe{
    border:3px solid black;
}


.licenciatura{
    padding-top: 10px;
    background-color:lightslategray;
    text-align: center;

}

.l1 {
    text-align:center;
    padding:30px;
    color:rgba(245, 245, 245, 0.815);
}

.licenciatura p{
    padding:20px;
    text-align:center;
    font-weight: bold;
}

.licenciatura .geo{
    color:rgba(245, 245, 245, 0.815);
    font-weight: bold;
}
.licenciatura iframe{
    border:3px solid black;
}

.form_extra{
    padding-top: 20px;
    
    text-align: center;
    padding-bottom: 300px;
    color:rgba(245, 245, 245, 0.815);
    padding:20px;

}

.form_extra .abril{
    margin-top: 30px;
    background-color:#7089dd ;
}

.form_extra .abril img{
    float:right;
    border:3px solid black;
    margin-right: 200px;
    
    
}

.form_extra .setembro{
    margin-top: 30px;
    background-color:#7089dd ;
}


.form_extra .setembro img{
    float:right;
    border:3px solid black;
    margin-right: 200px;
    
    
}

.form_extra .outubro{
    margin-top:30px;
    background-color:#7089dd ;
}

.form_extra .outubro img{
    float:right;
    border:3px solid black;
    margin-right: 200px;
}


.voluntariado{
    padding-top: 20px;
    
    
    padding-bottom: 300px;
    
    padding:20px;
}
.v2017{
    padding:20px;
    margin-top: 30px;
    background-color:#78be7ef6 ;
    text-align: center;
    color:rgba(245, 245, 245, 0.815);
}

.v2018{
    margin-top: 20px;
    background-color:#78be7ef6 ;
    padding:30px;
    text-align: center;
    color:rgba(245, 245, 245, 0.815);


}

.v2018 .jornadas{
    float:right;
    padding-top:40px;
    margin-right: 150px;

}

.v2018 .jornadas img{
    border:3px solid black; 
}

.v2018 .cme{
    text-align: center;
    width: 50%;
}

.v2018 .cme img{
    border:3px solid black;
}

.v2019{
    padding:20px;
    margin-top: 30px;
    background-color:#78be7ef6 ;
    text-align: center;
    color:rgba(245, 245, 245, 0.815);
}

.v2019 img{
    border:3px solid black;
}

.stats{
    text-align: center;
}
.stats img{
    
    border:3px solid black;
}