body{
    background-image:url("img/cornocopias\ vector\ 02.jpg");
    font-family:DejaVu Sans Mono, monospace;
    text-align:center;
}
.headprinc{
    background-color: rgba(0, 128, 128, 0.562);
    width: fit-content;
    text-align:center;
    margin-left:340px;
    border-radius: 10px;
    padding: 20px;
    
}
.headprinc h1{
    font-style: oblique;
    font-size: 30px;
    
    
}

.headprinc nav{
    background-color: rgb(255, 255, 255);
    text-align:center;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin-left:60px;
    border-bottom:5px black solid;
    border-left:5px black solid;
    
    
}

.headprinc nav,a {
    text-decoration:none;
    color:rgb(15, 74, 109);
    font-weight: bold;
}


.graf h2{
    font-size: 50px;
    border-bottom: 5px solid  rgba(0, 0, 0, 0.432);
    width: fit-content;
    margin-left: 42%;
}
.graf p{
    font-size: 25px;
    font-weight: bold;
    
}
.corn{
    border-radius: 3px;
    border-bottom: 7px solid black;
    border-left:7px solid black;
}



.center{
    border: 5px solid black;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.527);
    

}
.center th ,td{
    border:1px solid black;
    padding:7px;
    
}
.center th{
    font-size:20px;
}
.center td{
    font-size:18px;
}

.table{
    font-size: 25px;
    font-weight: bold;
}

.arte_urb h2{
    font-size: 50px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.432);
    width: fit-content;
    margin-left: 39.5%;
}
.arte_urb p{
        font-size: 25px;
        font-weight: bold;

}

.curiosidades h2{
    font-size: 40px;
    border-bottom: 5px solid  rgba(0, 0, 0, 0.432);
    width: fit-content;
    margin-left: 31.7%;
}


#line{
    vertical-align: middle;
}

.nav_bottom{
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.623);
    width: fit-content;
    margin-left:390px;
    border-bottom:5px black solid;
    border-left:5px black solid;
}


.circus h2{
    font-size: 50px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.432);
    width: fit-content;
    margin-left: 31%;
}

.circus p{
    font-size: 25px;
    font-weight: bold;
}

.galeria_circus img{
    border-radius: 5px ;
    border:2px solid black;
    
}

.kataplana p{
    font-size: 25px;
    font-weight: bold;

}

.galeria_kat img{
    border-radius: 7px ;
    border:3px solid black;
}