body{
    background-color:lightblue;
    font-family: Arial, Helvetica, sans-serif;
    


}
.headerprinc{
    background-image: url("img/funto2.jpg");
    text-align: center;
    color:white;
    border:3px solid black;
    
}



.headerprinc img {
    padding:10px;
    border-style: 3px solid black;
}

.headerprinc nav,a {
    text-decoration:none;
    padding:10px;
    text-align: center;
    color:rgb(15, 74, 109);
    font-weight: bold;
}

#plataforma{
    text-align:center;
    
}

#plataforma h2{
    text-decoration: underline  black solid;
}

#nav2{ 
    text-align: center;
}

ul, li {
    list-style-type: none;
}

#contactos{
    
    
    width:45%;
    top:0%;
    padding-top: 0%;
    margin-left:800px;

    
}

#contactos h3{
    text-decoration: underline  black solid;
}
#conteudos{
    width: 60% ;
    float:left;
    padding-top:23px;
    padding-left:180px;
    
}

#conteudos h3{
    text-decoration: underline  black solid;
}



